// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/


.highlight-content {
  color: #15bdb1 !important;
}

.green-content {
  color:    #0e7886 !important;
}

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #ff757c,
  secondary:  #15bdb1,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       (
    base:   #333,
    contrast: #15bdb1
  ),
  content:    #0e7886
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toolbar-ios-title-text-color: red;



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toolbar-md-title-text-color: red;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$toolbar-wp-title-text-color: red;



// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
